/* 
    QUANDO DEFINI-SE A LARGURA E ALTURA, NA VERDADE, É DEFINIDO A LARGURA E ALTURA
    DO CONTEÚDO. AS DIMENSÕES DO ELEMENTE SÃO BORDA + PADDING
*/

* {

    /* 
        box-sizing PERMITE INCLLUIR PREENCHIMENTO E BORDA NA LARGURA E ALTURA TOTAL DO ELEMENTO

        CALCULO DAS MEDIDAS TOTAIS

        LARGURA/ALTURA + PREENCHIMENTO + BORDA = LARGURA/ALTURA TOTAL
    */

    /* 
        box-sizing: content-box FAZ COM QUE O TAMANHO DO ELEMENTO, SEJA DEFINIDO PELO CONTEÚDO DELE: BORDA + PADDING + CONTEUDO
    */
    
    /* 
        box-sizing: border-box; FAZ COM QUE O ELEMENTO TENHA AS DIMENSÕES DEFINIDAS, O VALOR DA BORDA + PADDING + CONTEUDO DEVE SER O VALOR TOTAL DEFINIDO DA LARGURA E ALTURA. 
    */
    box-sizing: border-box;
}

div {
    width: 300px;
    height: 300px;

    margin: 20px;
    border: 5px solid black;
    padding: 10px;
    background-color: blue;
}