section {
    background-color: blanchedalmond;
    padding: 10px;
}

.paragrafo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: chocolate;
    padding: 10px; 
}

