/* TODOS OS ELEMENTOS CONTEM: CONTEÚDO, BORDA, MARGIN E PADDING 

PADDING: ESPAÇAMENTO INTERNO. PODE SER EM TODAS AS DIREÇÕES OU EM SÓ UMA DIREÇÃO.

MARGING: ESPAÇAMENTO EXTERNO.PODE SER EM TODAS AS DIREÇÕES OU EM SÓ UMA DIREÇÃO.

O BODY VEM COM 8PX DE MARGING, DEFINIDO POR PADRÃO
*/
body {
    margin: 0px;
}

div {
    border: 2px solid #f00;
    padding: 15px;
    margin: 15px
}
